@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Register";
}
@*her cshtml ye main eklemeyi unutma ortalayabilmek için layoutdan sildik*@
<main id="register">
<form id="registerForm">
    <h2>Register</h2>
    <div>
        <label for="firstName">First Name</label>
        <input type="text" id="firstName" name="firstName" required>
    </div>
    <div>
        <label for="lastName">Last Name</label>
        <input type="text" id="lastName" name="lastName" required>
    </div>
    <div>
        <label for="email">Email</label>
        <input type="email" id="email" name="email" required>
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
    </div>
    <div>
        <label for="rePassword">Re-enter Password</label>
        <input type="password" id="rePassword" name="rePassword" required>
    </div>
    <button type="submit">Register</button>
</form>
    

<script>

    const apiUrl = 'https://localhost:7227/Register';

    const contactForm = document.getElementById('registerForm');

    contactForm.addEventListener('submit', function (event) {
        event.preventDefault();

    const formData = {
                firstName: document.getElementById('firstName').value,
                lastName: document.getElementById('lastName').value,
                email: document.getElementById('email').value,
                password: document.getElementById('password').value,
                rePassword: document.getElementById('rePassword').value
            };

    const requestOptions = {
        method: 'POST',
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
        },  
        body: JSON.stringify(formData)
    };

    fetch(apiUrl, requestOptions)
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json()  
        })
        .then(data => {
            alert("Registered");
            // Here you can handle the data returned from the server
            resolve(data ? JSON.parse(data) : {})
            console.log(data);
        })
        .catch(error => {
        console.error('Error:', error);
        });
    });
</script>
</main>