.product-detail {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 50px;
  padding: 20px;
}

.product-card {
  display: flex;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-width: 1000px;
  width: 100%;
}

.product-image-wrapper {
  position: relative;
  flex: 1;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-image {
  max-width: 100%;
  max-height: 100%;
}

.product-info {
  flex: 2;
  padding: 20px;
}

.product-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.product-price {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

.product-text {
  font-size: 16px;
  margin-bottom: 20px;
}

.product-options {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.product-label {
  font-size: 14px;
  margin-right: 10px;
}

.product-select {
  margin-right: 20px;
  padding: 5px 10px;
  font-size: 14px;
}

.product-button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 10px;
}

.cart-icon {
  font-size: 24px;
  color: black;
}

.product-image-wrapper .pi-heart {
  color: #E91E63;
  font-size: 20px;
  margin-top: 10px;
  align-self: flex-end;
}

.product-image-wrapper .pi-heart:hover {
  color: #FF4081;
}
