/* App CSS */
.app-container {
  padding-top: 70px; /* Adjust according to navbar height */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #E6EEFF;
  color: #333;
}

.app-title {
  font-size: 32px;
  margin-bottom: 20px;
  color: #668EFF;
}

.app-content {
  font-size: 18px;
  text-align: center;
  max-width: 800px;
}

.app-button {
  background-color: #668EFF;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.app-button:hover {
  background-color: #5576D1;
}
div.card {
  margin: 10px;
  border-radius: 1em;
  padding: 2em;
  width:auto;
  background-color: #668EFF;
  margin-top:5em;
  height: auto;
}
div.card-body{
  color: #333;
}
.read-the-docs {
  color: #888;
}
div.ProductDetail{
 
text-align: center;
  
}
img#productPhoto{
  border-radius: 1em;
}